/* GENERAL STYLE */

body {
	font-family: 'Yatra One';
	overflow-x: hidden; /* Removes horizontal scrollbar when applying .container-fluid to MENU */
	background: linear-gradient(
		to bottom right,
		rgb(234, 196, 117) 20%,
		rgb(196, 166, 106) );
}

.red-bg {
	background: linear-gradient(
		to bottom right,
		rgb(114, 11, 11) 60%,
		rgb(193, 7, 7));
	color: white;
}


/*NAVIGATION BAR */

nav div li {
	margin-right: 2.5em;
}

.navbar-toggler {
	color: white;
}


/* HEADER */

.jumbotron {
	margin-bottom: 0;
}

header {
	background: url("../images/coff11.jpg") no-repeat;
	background-size: cover;
	height: 70vh;
}

header h1 {
	text-shadow: 1px 1px black;
}


/* MENU */

.card img {
	min-height: 250px;
	width: auto;
}


/* ABOUT */
