/* GENERAL STYLE */

body {
	font-family: 'Yatra One';
	overflow-x: hidden; /* Removes horizontal scrollbar when applying .container-fluid to MENU */
	background: linear-gradient(
		to bottom right,
		rgb(234, 196, 117) 20%,
		rgb(96, 96, 56) );
		color: rgb(113, 11, 11);
}

.red-bg {
	background: linear-gradient(
		to bottom right,
		rgb(57, 3, 3) 40%,
		rgb(114, 11, 11));
	color: rgb(255, 255, 255);
}


/*NAVIGATION BAR */

nav {
	background-color: rgba(0, 0, 0, 0.2);
	border-bottom: 2px solid rgba(57, 3, 3, 0.4);
	color: rgb(57, 3, 3);
	text-shadow: 1px 1px 2px rgb(242, 220, 137);
}

nav div li {
	margin-right: 2.5em;
	font-size: 1.4em;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(57, 3, 3);
} 

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(114, 11, 11);
}

.navbar-toggler {
	color: rgb(57, 3, 3);
}


/* HEADER */

.jumbotron {
	margin-bottom: 0;
}

header {
	background: url("../images/coff12.jpg") no-repeat;
	background-size: cover;
	height: 75vh;

}

.filter-bg {
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px rgb(96, 96, 56);
	color: rgb(234, 196, 117);
	border-radius: 8px;
}


/* MENU */

.card img {
	min-height: 250px;
	width: auto;
}


/* ABOUT */

.map-style {
	border: 4px solid rgb(96, 96, 56);
	box-shadow: 1px 1px 2px rgb(234, 196, 117);


}
