//Colors
/* TYPOGRAPHY
	color: rgb(255, 111, 0);
	text-shadow: 2px 2px rgb(75, 33, 0);
*/
$transparent: rgba(0,0,0,0);
$color_dirty_gray: rgb(98, 91, 85);
$color_dirty_white: rgb(245, 228, 214);
$color_white_gradient1: rgb(220, 220, 220);
$color_white_gradient2: rgba(220, 220, 220, 0.5);
$color_light_orange: rgb(255, 111, 0);
$color_medium_orange: rgb(155, 67, 0);
$color_dark_orange: rgb(75, 33, 0);

//Fonts
$font0: Special Elite;
$font1: cursive;

