body {
	font-family: $font0, $font1;
	background-color: #fff;
	color: $color_medium_orange;
}

h1, h2, h3, h4, h5, h6, a {
	padding: 0.2em;
	color: $color_light_orange;
	font-weight: 800;
	text-shadow: 2px 2px 1px $color_dark_orange;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

p {
	padding: 1em;
	text-shadow: 1px 1px 1px $color_light_orange;
}

section {
	overflow-x: hidden;
	padding-top: 4em;
}

h3 {
	margin: 0 auto;
	border-right: 4px ridge $color_light_orange;
	border-left: 4px ridge $color_light_orange;
}